In [ ]:
# print 0 to 20 by using range

In [1]:
for ran in range(0,20):
    print(ran)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
 # print range 10 to 20

In [2]:
for ran in range(10,20):
    print(ran)

10
11
12
13
14
15
16
17
18
19

In [ ]:
 # Print number of items in the list by using 'len'

In [4]:
List2=[10,20,14,55,43,87,76]
items=len(List2)
print("Number of item in the List2:",items)

Number of item in the List2: 7

In [5]:
word=input()
for Word in word:
    print(Word)

 Artificial Intelligence

A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [6]:
name=input()
age=int(input())
prof=input()

 Auxilia
 30
 Business

In [ ]:
# Print this mixered datatype using Tuples

In [7]:
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [8]:
tup1=(0,1,2,3)
tup2=('python','HOPE')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [ ]:
# print Odd Numbers in the list

In [32]:
num=[20,10,16,19,25,1,276,188]
for value in num:
    if (value%2==1):
        print(value,"is odd")

19 is odd
25 is odd
1 is odd

In [ ]:
# print Even numbers in the list

In [33]:
num=[20,10,16,19,25,1,276,188]
for value in num:
    if (value%2==0):
        print(value,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even